html {
  background-color: #DAE0E6
}

button {
  background-color: white;
  border: 1px solid rgb(255, 69, 0);

}

.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
  width: 100%;
  background-color: #DAE0E6
}

.headerWrap {
  width: 100%;
  background-color: white;
}

header {
  background-color: white;
  color: rgb(255, 69, 0);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90%;
  margin: auto
}

.headTitleSM {
  border: 2px solid rgb(255, 69, 0);
  height: 50px;
  width: 50px;
  line-height: 100%;
  text-align: center;
}

.headTitleSM a {
  vertical-align: middle;
  color: rgb(255, 69, 0);
}

header a:link {
  text-decoration: none;
}

.selectTopic {
  margin: auto;
}

.selectTopic button {
  background-color: white;
  border: 1px solid rgb(255, 69, 0);
  margin-top: 5px;
}

.selectUser {
  margin: auto;
  align-self: right;
  margin-right: 0;
}

.selectUser button {
  background-color: white;
  border: 1px solid rgb(255, 69, 0);
  margin-top: 5px;
}

form {
  font-size: 0.8rem;
  width: 100px;
  color: black
}

input {
  width: 100px;
}

select {
  width: 110px;
  margin-bottom: 5px;
}

.topicHeading {
  letter-spacing: 1rem;
  font-size: 1.5rem;
  width: 90%;
  background-color: white;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.5);
}

.sortButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  width: 90%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;
}

.sortButtons button {
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  background-color:  white;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.sortButtons button p {
  margin: 0
}

.postAnArticle {
  background-color: white;
  border: 1px solid rgb(255, 69, 0);
}

.postArticleForm {
  margin: auto;
}

#articleList {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  margin: auto;
  padding: 0;
  text-align: left
}

.articleTitle {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.5);
  margin: 0;
  margin-left: 2px
}

.submitArticle {
  background-color: white;
  border: 1px solid rgb(255, 69, 0);
}

.articleTitle a:link {
  color: rgba(0, 0, 0);
  text-decoration: none;
}

.articleTitle a:visited {
  color: rgba(0, 0, 0);
}

.articleTitle a:hover {
  text-decoration: underline;
}
#articleList li {
  display: grid;
  grid-template-columns: 10% 90%;
  list-style-type: none;
  width: 100%;
  margin-top: 10px;
  background-color: white;
  padding-left: 0;
}

.articleCardButtons {
  background-color: #cccccc;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.articleCardButtons button{
  background-color: #cccccc;
  border: none;
  text-align: center;
  padding: 0;
}

.articleCardButtons p {
  font-weight: bolder;
  text-align: center;
}

.articleInformation p {
  margin: 0;
  margin-left: 2px;
}

.articleInformation p a:link{
  color: black
}

.articleInformation p a:visited{
  color: black
}

.articleInfoButtons {
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-content: left;
}

.voteButtons {
  text-align: left;
}

.changePage {
  background-color: white;
  border: 1px solid rgb(255, 69, 0);
}

.makeItBold {
  font-weight: bold;
}

.articlePage {
  width: 90%;
  margin: auto;
}

.articleInfo {
  margin-top: 5px;
  background-color: white;
}

.articleInfo h1 {
  margin-left: 10px;
  margin-top: 5px;
  font-size: 2rem;
  margin-bottom: 0;
  text-align: left;
}

.articleInfo p {
  text-align: left;
  margin: 0;
  font-size: 1rem;
  color: black;
  margin-left: 10px;
}

.articleInfo p a:link {
  color: black
}

.articleInfo p a:visited {
  color: black
}

#articleBody {
  margin-top: 10px;
  color: black;
  font-weight: bolder;
  font-size: 1rem;
  text-align: left;
  width: 90%;
  margin-left: 10px;
  margin-bottom: 10px;
}

#commentSection {
  text-align: left;
}

.commentList {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 0
}

.submitCommentForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
  margin-left: 0;
}

.commentList li {
  margin-bottom: 5px;
  list-style-type: none;
  width: 100%;
  background-color: white;
}

.commentList li p {
  margin: 2px;
}

.commentBody {
  color: black;
  font-weight: bolder;
}

.commentAuthor a:link {
  color: black;
}

.commentAuthor a:visited {
  color: black;
}

img {
  max-width: 80%;
}

.picArea {
  width: 100%;
  background-color: white;
}

.pageChanger {
  color: black;
  font-weight: bolder;
}

.pageChanger button {
  margin: 10px
}

@media screen and (min-width: 450px) {
  img {
    max-width: 50%;
  }
}

@media screen and (min-width: 800px) {
  img {
    max-width: 30%;
  }
}